/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Noto Serif', serif;

}

header {
  font-size: 17px;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 1.6%;
}

main {
  margin: 0 auto;
  padding: 0 39px;
}

.content {
  padding: 10px;
}

/*Navigation bar */

.main-nav a{
 list-style-type: none;
 color: black;
 font-size: 17px;
 text-transform: uppercase;
 letter-spacing: 3px;
 padding: 4px;
 border-radius: 1px;
 text-decoration: none;
}

.main-nav a:hover{
  background-color: black;
  color: white;
  transition: .3s;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

header .logo {
  display: inline-block;
  padding: 13px;
  height: auto;
}

.menuIcon {
 position: absolute;
 top: 15px;
 right: 20px;
 cursor: pointer;
 color: black;
 font-size: 25px;
 padding: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

.main-nav a.active-link{
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-position: under;
}

/* Homepage feature */
.homeFeature {
  display: flex;
  justify-content: center;
  max-height: 650px;
  width: auto;
  object-fit: cover;
}

.featureSlides {
  display: none;
  animation-duration: 3s;
}

/*homepage posts */
.latestPosts {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
}

.post img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.post{
  transition: 1s;
}

.post:hover {
  transform: translateY(-5px);
}

/*footer */

footer {
  background-color: #4d4d4d;;
  padding: 60px 0;
  margin-top: 30px;
}

.footer-container {
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.right-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.right-col img {
  width: 100px;
  margin: 10px;

}

.left-col{
  display: flex;
  justify-content: center;
}

.social-media {
  margin: 10px 0;
}

.social-media a {
  color: black;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #0099ff
}

.right-col img:hover{
  color: #0099ff
}

.aboutText {
  color: grey;
  width: 40%;
  margin: 10px;
}


#websiteFooter {
  list-style: none;
}

#websiteFooter li {
  margin: 10px;
  padding-right: 25px;
}

#websiteFooter li a {
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  padding: 10px 0;
  outline: none;
  line-height: 0.5;
}

/* artpage */

.artPosts {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-auto-rows: auto ;
}

.artPosts img {
  width: 100%;
  height: auto;
}

/* Styles for text */

.postText {
  margin-top: 10px;
}

.postTitle {
  margin: 0 auto;
  line-height: .9;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.postContent {
  line-height: 1.5;
  font-size: 12px;
  color: #6e6a5f;
}

.artPostImage {
  opacity: 1;
  transition: all .55s ease-in-out;
}

.artPostImage img:hover {
  opacity: 0.9;
  transition: all .3s ease-in-out;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

.mainMenu .menuIcon {
    display: none;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  height: 70px;
  min-width: 700px;
}


/*Navigation bar */

.mainMenu .menuIcon {
    display: none;
  }

.main-nav {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  justify-content: flex-end;
}

.main-nav li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  list-style: none;
}

header .logo {
  margin-top: 0;
  height: auto;
}

.main-nav li a{
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  border-radius: 1px;
  text-decoration: none;
}

.main-nav a.active-link{
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-position: under;
}

.main-nav a:hover{
  background-color: black;
  color: white;
  transition: .3s;
}

/* Home feature */

body {
    background: white;
  }

/*homepage */

.postImage img {
  filter: grayscale(100%);
  transition: filter .5 ease-in-out;
}

.postImage img:hover {
  filter: grayscale(0%);
}

/*footer */

.footer-container {
  flex-direction: row;
}

.aboutText {
  width: 60%;
}

.left-col {
  padding-left: 90px;
}

/*art page */

.artPosts {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.horiArtPost {
  grid-column: span 2;
}



}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: white;
  }
}
