/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */


body {
  background: #fcc;
}




/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.mainMenu {
  background-color: white;
  height: 80px;
  width: 100%;
}

.mainMenu img {
  padding: 15px;
}

.mainMenu ul{
  float: right;
  margin-right: 20px;
}

.mainMenu ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.mainMenu ul li a{
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  border-radius: 3px;
}

.mainMenu a.active{
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-position: under;
}

.mainMenu a:hover{
  background-color: black;
  color: white;
  transition: .3s;
}

  body {
    background: #cfc;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
