/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
* {
  background-color: white;
}

body {
  background: #fcc;
  margin: 0 auto;
}

header {
  font-size: 17px;
  background-color: white;
}


.main-nav a{
 list-style-type: none;
 color: black;
 font-size: 17px;
 text-transform: uppercase;
 letter-spacing: 3px;
 padding: 4px;
 border-radius: 1px;
}

.main-nav a:hover{
  background-color: black;
  color: white;
  transition: .3s;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

header .logo {
  display: inline-block;
  padding: 13px;
  height: auto;
}

.menuIcon {
 position: absolute;
 top: 10px;
 right: 20px;
 cursor: pointer;
 color: black;
 font-size: 25px;
 padding: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

.mainMenu .menuIcon {
    display: none;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  height: 70px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  justify-content: flex-end;
}

.main-nav li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  list-style: none;
}

header .logo {
  margin-top: 0;
  height: auto;
}

.main-nav li a{
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  border-radius: 1px;
  text-decoration: none;
}

.main-nav a.active-link{
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-position: under;
}

.main-nav a:hover{
  background-color: black;
  color: white;
  transition: .3s;
}


body {
    background: #cfc;
  }


}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
